@media all and (max-width: 1140px) {
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text span {
    font-size: 1.7543859vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text h3 {
    font-size: 2.6315789vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner.bn2 a .banner-text h3 {
    font-size: 3.0701754vw;
  }
  #wrap #header .container .top .logo, #wrap #header .container .bottom #nav {
    margin-left: 10px;
  }
  #wrap #header .container .bottom #aside ul li:last-child, #wrap #header .container .top .serch {
    margin-right: 10px;
  }
}

@media all and (max-width: 1024px) {
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a p {
    font-size: 2.246093vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a h3 {
    font-size: 4.394531vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box p {
    font-size: 1.757812vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box h3 {
    font-size: 2.441406vw;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul,
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul {
    margin-left: 10vw;
  }
  #wrap #header.show .container .bottom #nav {
    display: block;
  }
}

@media all and (max-width: 960px) {
  #wrap #header {
    height: 80px;
  }
  #wrap #header .container .top {
    padding: 0 0 5px 0;
  }
  #wrap #header .container .top .logo {
    z-index: 3;
  }
  #wrap #header .container .top .mobile-btn-box {
    display: block;
    z-index: 3;
  }
  #wrap #header .container .top .top-menu {
    display: none;
  }
  #wrap #header .container .top .mobile-serch-box {
    display: block;
    z-index: 1;
  }
  #wrap #header .container .top .serch {
    display: none;
  }
  #wrap #header.show .container .top {
    display: block;
    height: 60px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrap #header.show .container .top .mobile-serch-box {
    top: 12px;
  }
  #wrap #header.show .container .bottom #nav {
    display: none;
  }
  #wrap #header.show .container .bottom #aside {
    bottom: 23px;
  }
  #wrap #header .container .bottom #aside {
    bottom: 31px;
  }
  #wrap #header .container .bottom #aside ul li:nth-child(2) {
    display: none;
  }
  #wrap #header .container .bottom #aside ul li:nth-child(3) {
    display: none;
  }
  #wrap #header .nav-bg.on {
    display: none;
  }
  #wrap #header .container .bottom #nav {
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
  #wrap #header .container .bottom #nav > ul {
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-top: 15px;
  }
  #wrap #header .container .bottom #nav > ul > li {
    height: auto;
    margin-right: 0;
  }
  #wrap #header .container .bottom #nav > ul > li > a.main-btn {
    text-align: center;
    line-height: 38px;
    background: #fff;
  }
  #wrap #header .container .bottom #nav > ul > li > a.main-btn:hover {
    border-top: 1px solid #ffb2b8;
    border-bottom: 1px solid #ffb2b8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap #header .container .bottom #nav > ul > li > a.main-btn.on {
    color: #ffb2b8;
    border-top: 1px solid #ffb2b8;
    border-bottom: 0;
  }
  #wrap #header .container .bottom #nav > ul > li > a.main-btn.m-on {
    display: block;
  }
  #wrap #header .container .bottom #nav > ul > li .sub {
    display: none;
    position: inherit;
    width: 100%;
    height: 100%;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap {
    position: inherit;
    display: block;
    text-align: center;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu {
    display: block;
    background-color: #ffb2b8;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li {
    position: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li:last-child {
    border-bottom: 0;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li > a {
    height: 40px;
    line-height: 40px;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li > a:hover {
    border-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li:first-child {
    position: inherit;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li:first-child > a {
    font-size: 20px;
    padding-bottom: 0;
    height: 40px;
    line-height: 40px;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li:first-child > a:hover {
    border-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li .sort-box {
    display: none;
    margin-top: 0;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li .sort-box > ul.sort {
    width: 100%;
    background-color: #ffd8d8;
    margin-right: 0;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li .sort-box > ul.sort > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li .sort-box > ul.sort > li > a:hover {
    color: #ffb2b8;
    border-bottom: 0;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap > ul.sub-menu > li .sort-box.on {
    display: block;
  }
  #wrap #header .container .bottom #nav > ul > li .sub .sub-gap .sub-img {
    display: none;
  }
  #wrap #header .container .bottom #nav > ul > li .sub.sub3 .sub-gap > ul > li {
    margin-right: 0;
  }
  #wrap #header .container .bottom #nav > ul > li .sub.on {
    display: none;
  }
  #wrap #header .container .bottom #nav > ul > li .sub.m-on {
    display: block;
  }
  #wrap #main {
    top: 80px;
  }
  #wrap #main #main-wrap #section6 {
    padding-bottom: 14vw;
  }
  #wrap #footer {
    bottom: -80px;
  }
}

@media all and (max-width: 940px) {
  #wrap #main #main-wrap #section4 .container .gap .top .content .sec4-mobile-nav,
  #wrap #main #main-wrap #section5 .container .gap .top .content .sec5-mobile-nav {
    display: block;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li > a,
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li > a {
    display: none;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap .plus-btn,
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap .plus-btn {
    position: inherit;
    text-align: center;
    margin-top: 3%;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view,
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view {
    margin-top: 4%;
  }
  #wrap #main #main-wrap #section4 .container .gap,
  #wrap #main #main-wrap #section5 .container .gap {
    margin-top: 9.5744%;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap .sec4slide-btn-box,
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap .sec5slide-btn-box {
    bottom: 50px;
  }
}

@media all and (max-width: 750px) {
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide .slide-box .slide-text h2 {
    font-size: 8vw;
    padding-bottom: 5vw;
  }
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide .slide-box .slide-text p {
    font-size: 3vw;
  }
  #wrap #main #main-wrap #section1 .container .slide-view {
    height: 400px;
  }
  #wrap #main #main-wrap #section2 .container .banner-box {
    display: block;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner {
    width: 100%;
    margin-right: 0;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a {
    padding: 30px 0 30px 27px;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text span {
    font-size: 2.6vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text h3 {
    font-size: 4vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner.bn2 a .banner-text h3 {
    font-size: 4.6vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner.bn1 {
    background-position: 50% 0;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3-title h3 {
    font-size: 4vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box {
    display: block;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.6%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a {
    height: 500px;
    background: url(../img/sec3-bigBanner.jpg) no-repeat 50% 30%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a p {
    font-size: 3.0666vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a h3 {
    font-size: 6vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a span i {
    font-size: 3.0666vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .sec3-menu-view {
    width: 100%;
    height: 770px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box {
    display: block;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner {
    width: 100%;
    height: 200px;
    margin-right: 0;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a {
    background: url(../img/sec3-smallBanner-1.jpg) no-repeat 100% 50%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a .small-bn-box {
    background-color: #ecfcfd;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a .small-bn-box span i {
    color: #252525;
    border-bottom: 1px solid #252525;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a {
    background: url(../img/sec3-smallBanner-2.jpg) no-repeat 0 50%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a .small-bn-box {
    background-color: #e8e0dc;
    right: 0;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a .small-bn-box span i {
    color: #252525;
    border-bottom: 1px solid #252525;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(3) a {
    background: url(../img/sec3-smallBanner-3.jpg) no-repeat 100% 50%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(3) a .small-bn-box {
    background-color: #faeff9;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box {
    background: #fff;
    height: 100%;
    width: 50%;
    position: absolute;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box p {
    font-size: 2.4vw;
    margin-bottom: 2.6%;
    margin-top: 15%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box h3 {
    font-size: 3.333vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box span {
    bottom: 20px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box span i {
    height: 3vh;
    font-size: 2.4vw;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .title h3 {
    font-size: 5.3333vw;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content {
    height: 560px;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li > a {
    display: none;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap {
    width: 900%;
    margin-left: -150%;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap > li.sec4-hover-menu {
    width: 50%;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap .sec4slide-btn-box {
    bottom: 40px;
    text-align: center;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap .sec4slide-btn-box > ul.box-gap > li.sec4-prev-btn {
    width: 12px;
    height: 24px;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap .sec4slide-btn-box > ul.box-gap > li.sec4-next-btn {
    width: 12px;
    height: 24px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .title h3 {
    font-size: 5.3333vw;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content {
    height: 560px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li > a {
    display: none;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap {
    width: 900%;
    margin-left: -150%;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap > li.sec5-hover-menu {
    width: 50%;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap .sec4slide-btn-box {
    bottom: 40px;
    text-align: center;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap .sec4slide-btn-box > ul.box-gap > li.sec4-prev-btn {
    width: 12px;
    height: 24px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap .sec4slide-btn-box > ul.box-gap > li.sec4-next-btn {
    width: 12px;
    height: 24px;
  }
  #wrap #main #main-wrap #section6 .container .gap {
    width: 100%;
    margin-top: 9.5744%;
  }
  #wrap #main #main-wrap #section6 .container .gap .title h3 {
    font-size: 5.3333vw;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn {
    width: 49%;
    height: 300px;
    margin-right: 0;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn:nth-child(1) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn:nth-child(2) {
    margin-bottom: 2%;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn:nth-child(3) {
    margin-right: 2%;
  }
}

@media all and (max-width: 620px) {
  #wrap #footer .container .gap .content .box {
    position: relative;
  }
  #wrap #footer .container .gap .content .box .right .right-menu-box2 > ul > li:last-child {
    margin-top: 7px;
  }
  #wrap #footer .container .gap .content .box .right .right-menu-box2 > ul > li > ul.f-manu {
    display: block;
    width: 100%;
  }
  #wrap #footer .container .gap .content .box .left {
    position: absolute;
    left: 0;
    top: 17px;
  }
}

@media all and (max-width: 620px) {
  #wrap #header .container .bottom #aside {
    display: none;
  }
  #wrap #header .container .top .mobile-serch-box {
    right: 10px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3-title h3 {
    font-size: 22px;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .title h3 {
    font-size: 28px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .title h3 {
    font-size: 28px;
  }
  #wrap #main #main-wrap #section6 .container .gap .title h3 {
    font-size: 28px;
  }
}

@media all and (max-width: 400px) {
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide.slide2 {
    background-position: 100% 50%;
  }
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide.slide2 .slide-box .slide-text {
    padding-left: 0;
  }
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide .slide-box .slide-text h2 {
    font-size: 10vw;
  }
  #wrap #main #main-wrap #section1 .container .slide-view .slide-wrap .slide .slide-box .slide-text p {
    font-size: 4.75vw;
  }
  #wrap #main #main-wrap #section1 .container .prev-btn {
    top: 87%;
    width: 18px;
    height: 35px;
    z-index: 2;
  }
  #wrap #main #main-wrap #section1 .container .next-btn {
    top: 87%;
    width: 18px;
    height: 35px;
    z-index: 2;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text span {
    font-size: 4vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner a .banner-text h3 {
    font-size: 5.5vw;
  }
  #wrap #main #main-wrap #section2 .container .banner-box .banner.bn2 a .banner-text h3 {
    font-size: 6.75vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box {
    position: relative;
    top: -300px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner {
    top: 300px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a {
    height: 500px;
    background: url(../img/sec3-bigBanner.jpg) no-repeat 50% 50%;
    background-size: contain;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a p {
    font-size: 4.3vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a h3 {
    font-size: 10vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .big-banner .big-bn-box > a span i {
    font-size: 4.3vw;
    height: 30px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .sec3-menu-view {
    display: none;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .m-sec3-menu-view {
    display: block;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3top .sec3-box .m-sec3-menu-view .m-sec3slide-btn-box {
    display: block;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner {
    height: 280px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box {
    width: 90%;
    height: 150px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box p {
    padding-top: 24px;
    font-size: 4vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box h3 {
    font-size: 8.25vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box span {
    bottom: 90px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner a .small-bn-box span i {
    height: 30px;
    font-size: 4vw;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a {
    background: url(../img/sec3-smallBanner-1.jpg) no-repeat 50% 50%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a .small-bn-box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(1) a .small-bn-box > span {
    bottom: 20px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a {
    background: url(../img/sec3-smallBanner-2.jpg) no-repeat 50% 70%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a .small-bn-box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(2) a .small-bn-box > span {
    bottom: 20px;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(3) a {
    background: url(../img/sec3-smallBanner-3.jpg) no-repeat 50% 50%;
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(3) a .small-bn-box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #wrap #main #main-wrap #section3 .container .sec3gap .sec3bottom .gap ul.small-banner-box li.small-banner:nth-child(3) a .small-bn-box > span {
    bottom: 20px;
  }
}

@media all and (max-width: 390px) {
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap > li.sec4-hover-menu .manu-hover-box .menu-hover {
    bottom: -18px;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap > li.sec4-hover-menu .manu-hover-box .menu-hover .gap .gap-box span a {
    width: 0;
    font-size: 0;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap > li.sec4-hover-menu .manu-hover-box .menu-hover .gap .gap-box span:nth-child(1) {
    margin-right: 30px;
  }
  #wrap #main #main-wrap #section4 .container .gap .top .content #sec4-nav .nav-gap > ul > li .sec4menu-view > ul.sec4-menu-wrap > li.sec4-hover-menu .manu-hover-box .menu-hover .gap .gap-box span:nth-child(2) a::before {
    top: -1px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap > li.sec5-hover-menu .manu-hover-box .menu-hover {
    bottom: -18px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap > li.sec5-hover-menu .manu-hover-box .menu-hover .gap .gap-box span a {
    width: 0;
    font-size: 0;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap > li.sec5-hover-menu .manu-hover-box .menu-hover .gap .gap-box span:nth-child(1) {
    margin-right: 30px;
  }
  #wrap #main #main-wrap #section5 .container .gap .top .content #sec5-nav .nav-gap > ul > li .sec5menu-view > ul.sec5-menu-wrap > li.sec5-hover-menu .manu-hover-box .menu-hover .gap .gap-box span:nth-child(2) a::before {
    top: -1px;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul {
    width: 100%;
    display: block;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn {
    width: 100%;
    height: 270px;
    margin-right: 0;
  }
  #wrap #main #main-wrap #section6 .container .gap .content ul li.rotate-btn:nth-child(4) {
    margin-top: 2%;
  }
}
