* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal 14px/1 'Noto Sans KR','GmarketSans','Source Sans Pro','Noto Sans','Alata';
    color: #252525;
    background: #fff;
}

ul,li { list-style: none;}
a { text-decoration: none; color: #252525;}
h1,h2,h3,h4,h5,h6 { font-size: 14px; font-weight: 400;}
em,i,address { font-style: normal;}
.blind { display: block; text-indent: -2000px; overflow: hidden; }
header,nav,section,main,aside,article,footer { display: block;} 